<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<label>Nombre: </label> <label th:text="${usuario.nombre}"></label>
<br>
<label>Apellido: </label> <label th:text="${usuario.apellido}"></label>
<br>
<label>Username: </label> <label th:text="${usuario.username}"></label>
<br>
<label>Password: </label> <label th:text="${usuario.password}"></label>
<br>
<label>Email: </label> <label th:text="${usuario.email}"></label>
<br>
<label>Identificador: </label> <label th:text="${usuario.identificador}"></label>
<br>
<label>Identificador: </label> <label th:text="${usuario.identificador2}"></label>
<br>
<label>Identity: </label> <label th:text="${identity}"></label>
<br>
<label>Identity: </label> <label th:text="${usuario.cuenta}"></label>
<br>
<label>Identity: </label> <label th:text="${usuario.fechaNacimiento}"></label>
</body>
</html>